@import url('https://fonts.googleapis.com/css2?family=Anton&family=Courier+Prime:wght@400;700&family=Josefin+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary:#A6643D;
  --oliveGreen:#6C7246;
  --oliveGreenLight: #B0B78C;
  --sandGold:#D4A373;
  --darkBrown:#512200;
  --rustyRed:#7F3C1B;

  --font-courier: 'Courier Prime', sans-serif;
  --font-anton: 'Anton', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
}


body {
  background-image: url('/background/bg_default.png');
  min-height: 100vh;
  font-family: var(--font-courier);
}
